.page-header {
    .button-success {
        display: flex;
        flex-direction: row;
        align-items: center;
        i {
            font-size: 12px;
            margin-right: 16px;
        }
    }
}

.search-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px calc(var(--spacing) * 2);
    margin-bottom: var(--spacing);
    position: relative;
    .search-input {
        position: relative;
        display: flex;
        align-items: center;
        input {
            padding-left: 32px;
        }
        i {
            position: absolute;
            left: 8px;
            color: var(--gray);
        }
    }
    span {
        margin-left: auto;
        color: var(--gray);
        margin-right: var(--spacing);
    }
    .view-buttons {
        border-radius: 4px;
        border: 1px solid #ddd;
        margin-left: var(--spacing);
        .selected-view-button {
            color: white;
            background-color: blue;
        }
        button {
            height: 40px;
            width: 40px;
            background-color: white;
            color: var(--gray);
        }
    }
}

.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: calc(var(--spacing) * 2);
    span {
        margin-right: calc(var(--spacing) * 2);
        color: var(--gray);
    }
    p {
        margin: 0px calc(var(--spacing) * 2);
    }
    .arrows {
        button {
            border: 1px solid #ddd;
            border-radius: 4px;
            height: 40px;
            width: 40px;
            background-color: white;
            i {
                font-size: 14px;
                color: var(--gray);
                margin-bottom: 5px;
            }
            &:first-child {
                margin-right: var(--spacing);
            }
            &:disabled {
                background-color: whitesmoke;
            }
        }
    }
}

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--gray);
    height: 60vh;
    i {
        font-size: 24px;
        margin-bottom: 20px;
    }
}

.table-card {
    margin: 20px;
    background-color: white;
    overflow: auto;
    border-radius: 4px;
    border: 1px solid #ddd;
    .table-header {
        border-bottom: 1px solid #ddd;
        font-weight: bold;
        color: var(--gray);
        padding: 16px;
    }
    .table-item {
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        &:hover {
            background-color: whitesmoke;
        }
        img {
            border-radius: 4px;
            height: 32px;
            width: 32px;
        }
        .col {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &:last-child {
            border: none;
        }
    }
}

@media only screen and (max-width: 500px) {
    input,
    select {
        margin: 10px 0px;
    }
    .table-header,
    .table-item {
        .col:nth-child(1) {
            display: none;
        }
    }
}