<div class="user-card-container" *ngIf="user">
    <div class="user-card-content">
        <img [src]="user.picture" alt="avatar">
        <h3>{{user.firstName}} {{user.lastName}}</h3>
        <p>{{user.title}}</p>
        <div class="tags">
            <span class="tag">
                Cooking
            </span>
            <span class="tag">
                Development
            </span>
            <span class="tag">
                Reading
            </span>
        </div>

    </div>
    <div class="user-card-footer">
        <div class="item">
            <i class="fab fa-facebook-square"></i>
            <span>20.2M</span>
        </div>
        <div class="item">
            <i class="fab fa-twitter-square"></i>
            <span>20.2M</span>
        </div>
        <div class="item">
            <i class="fab fa-instagram-square"></i>
            <span>20.2M</span>
        </div>
    </div>
</div>
