<div class="user-card-container">
    <div class="user-card-content">
        <img src="https://picsum.photos/400" alt="avatar">
        <h3>Mostapha benlagha</h3>
        <p>Algiers, Algeria</p>
        <div class="tags">
            <span class="tag">
                Cooking
            </span>
            <span class="tag">
                Development
            </span>
            <span class="tag">
                Reading
            </span>
        </div>

    </div>
    <div class="user-card-footer">
        <div class="item">
            <i class="fab fa-facebook-square"></i>
            <span>20.2M</span>
        </div>
        <div class="item">
            <i class="fab fa-twitter-square"></i>
            <span>20.2M</span>
        </div>
        <div class="item">
            <i class="fab fa-instagram-square"></i>
            <span>20.2M</span>
        </div>
    </div>
</div>