@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
* {
    font-family: cairo;
}

:root {
    --gray: #999eac;
    --primary: #2cd696;
    --side-menu-full-width: 300px;
    --side-menu-width: 80px;
    --spacing: 10px;
    --bg: #f4f6fa;
}

body {
    background-color: var(--bg);
}